$Black_Coffee : #514c4e;
$Ruby_Red: #A01D28;
$White:#ffffff;
$WhiteOpac:#ffffffc7;
$Cultured:#eff3ff;
$CulturedHovered:#dfe6fb;
$Sidebar_White:#f6f7fb;
$Sidebar_WhiteOpac:#f6f7fba3;
$Space_cadet:#29335C;
//$Space_cadet:#5766a2;
$Dim_Text:#514c4eb3;

@mixin borderRadius($t-value, $r-value, $b-value, $l-value){
    border-radius: $t-value $r-value $b-value $l-value;
}

.transition{
    transition: all 0.2s linear;
}

*:not(.slider){
    @extend .transition;
}

.shadow{
    box-shadow: 0px 0px 11px -1px #00000059;
}

.gradiant-bg{
    background: rgb(239,243,255);
    background: -moz-linear-gradient(250deg, rgba(239,243,255,1) 0%, rgba(239,243,255,0.819765406162465) 82%);
    background: -webkit-linear-gradient(250deg, rgba(239,243,255,1) 0%, rgba(239,243,255,0.819765406162465) 82%);
    background: linear-gradient(250deg, rgba(239,243,255,1) 0%, rgba(239,243,255,0.819765406162465) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eff3ff",endColorstr="#eff3ff",GradientType=1);
}

.cursor-pointer{
    cursor: pointer;
}
.main-background{
    /* background-color: $Cultured; */
    background-image: url('../assets/momobg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.loading{
    background: #000000d1;
    &>div{
        font-size: 2em;
        color: $WhiteOpac;
    }
}

.nav-bar{
/*     background-color: $Cultured;*/
    &>div:first-child{
        /* height: 150px; */
        /* padding: 0.8em; */
        margin: 0 0 2em;
        & img{
            pointer-events: none;
            width: 100%;
            height: auto;
        }
    }
    &>div:not(first-child){
        &>div>*{
            pointer-events:none;
        }
        &>div{
            padding:0.5em;
            
            &>span{
                color: $Black_Coffee;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 0.9em;
                font-weight: 100;
                
                &:first-child{
                    width: 45px;
                    height: 45px;
                    margin-bottom: 1em;
                    border-radius: 50%;
                    padding: 1em;
                    background-color: $White;
                    box-shadow: 0px 0px 11px -1px #00000059;
                    &>*{
                        width: 100%;
                        height: 100%;
                        fill:$Dim_Text;
                    }
                    
                }
                &:last-child{
                    display: none;
                }
            }
            &:hover {
                cursor: pointer;
                & > span{
                    font-weight: 600 !important;
                    &:first-child{
                        background-color: $Black_Coffee;
                        /* border: 2px solid #FFF; */
                        &>*{
                            fill:$White;
                        }
                    }
                    
                }
            }
    
            &.selected {
                cursor: pointer;
                &> span{
                    font-weight: 600 !important;
                    &:first-child{
                        border-radius: 50%;
                        padding: 1em;
                        background-color: $Black_Coffee;
                        box-shadow: 0px 0px 4px 1px #575757a8;
                        /* border: 2px solid #FFF; */
                        &>*{
                            fill:$White;
                        }
                    }
                    
                }
            }
        }
    }
}

.content-body{
    box-shadow: 0px 4px 15px -8px #000000d6;
}

.main-body{
    background-color: $WhiteOpac;
}

.side-bar{
    background-color: $Sidebar_WhiteOpac;
}

// slider
#sliderA{
    box-shadow: 0px 6px 16px -1px #00000085;
    border-radius: 1em;
}

.slider-wrapper {
    width:100%;
    height:400px;
    position:relative;
    overflow:hidden;

}

.slider{
    position:absolute;
    inset: 0 0 0 0;
    width:100%;
    height: 100%;
    clear: both;
    &:before,&:after{
        content: '';
        clear: both
    }
    &__item{
        float:left;
        &, &>img{
            width: 100%;
            height: 100%;
        }
        &>img{
            object-fit: cover;
        }
    }
}

.nextBtn, .prevBtn{
    @extend .cursor-pointer;
    fill: #ffffffd6;
    &:hover{
        fill:#ffffff;
    }
}

.card{
    padding: 3.5em 0.7em 0 !important;
    &>div{
        @extend .shadow;
        height: 100%;
        width: 100%;
        color: $Dim_Text;
        @extend .gradiant-bg;
        position: relative;
        border-radius: 1em !important;
        padding:6em 1em 2em !important;
        text-align: center;
        margin: 1em 0.2em !important;
        &>img{
            width: 100px;
            height: 100px;
            border:0.5em solid #eff3ff;
            border-radius: 100%;
            position: absolute;
            left: calc(50% - 50px);
            top: -50px;
            object-fit: cover;
            @extend .shadow;
        }
        &>div.price{
            font-size: 1.2em;
            margin-bottom: 1em;
            color: $Ruby_Red;
            font-weight: 600;
        }&>div.description{
            font-size: 1em;
        }
        &:hover{
            box-shadow: 0px 0px 14px -1px #00000085;
            background: $White;
            &>img{
                border-color: $White;
                box-shadow: 0px 5px 11px 1px #00000085;
            }
        }
    }
}

.menu{
    padding: 1em 0.7em 0.5em !important;
    &>div{
        @extend .cursor-pointer;
        @extend .shadow;
        height: 100%;
        width: 100%;
        color: $Dim_Text;
        @extend .gradiant-bg;
        border-radius: 1em !important;
        text-align: center;
        overflow: hidden;
        &:hover{
            box-shadow: 0px 0px 14px -1px #00000085;
            background: $White;
        }
        &>h2{
            height: 95px;
            text-align: center;
            opacity: 0.9;
            box-shadow: 0px 2px 16px 12px #00000066;
        }
        &>img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        & .overlay{
            background: $Space_cadet;
            filter: opacity(0.4);
        }
    }
}

.testimonial{
    @extend .shadow;
    height: 100%;
    width: 100%;
    color: $Dim_Text;
    border-radius: 1em !important;
    margin: 0.7em !important;
    @extend .gradiant-bg;
    &__image{
        &>img{
            width: 80px;
            height: 80px;
            border-radius: 100%;
            filter:drop-shadow(2px 4px 6px #00000059);
            object-fit: cover;
        }
    }
    &__comment{
        background: $White;
        &>div.description{
            font-size: 1em;
        }
    }   
}

.contact{
    filter: invert(1);
    @extend .shadow;
    color: $Cultured;
    border-radius: 1em !important;
    @extend .gradiant-bg;
    &>*{
        text-align: center;
    }
    &>div{
        color: $Black_Coffee;
        margin-bottom: 0.7em;
    }
    .address{
        margin-top: 1em;
    }
    .opening{
        color: $Black_Coffee;
        &>span{
            font-weight: 600;
        }
    }
    .status{
        text-transform: uppercase;
        font-size: 1.3em;
        font-weight: 600;
        color: $Ruby_Red;
    }
    .note{
        color: $Ruby_Red;
        font-weight: 600;
        text-align: center;
        font-style: italic;
        margin-bottom: 1.5em;
        font-size: 1.3em;
    }
}

.map{
    @extend .shadow;
    border-radius: 1em !important;
    @extend .gradiant-bg;
}

.social{
    & a{
        &>img{
            width: 35px;
            height: 35px;
            @extend .shadow;
        }
        &:hover{
            &>img{
                box-shadow: 0px 0px 14px -1px #00000085;
            }
        }
    }   
}

.developed-by{
    &>*{
        display: inline-block;
    }
    & span{
        width:200px;
        color: $Dim_Text;
    }
    & a{
        color: $Ruby_Red;
        text-decoration: none;
    }
}

.amenities{
    @extend .gradiant-bg;
    &:hover{
        box-shadow: 0px 0px 14px -1px #00000085;
        background: $White;
    }
    &__header{
        box-shadow: 0px 2px 16px -4px #00000066;
        opacity: 0.9;
    }
    &__image{
        object-fit: cover;
    }
    &__subContent{
        color: $Dim_Text;
    }
}

.search{
    background: $White;
    @extend .shadow;
    &:hover{
        box-shadow: 0px 0px 14px -1px #00000085;
    }
    &__input{
        width:90%;
        height: 50px;
        padding:0 1em;
        border:none;
        border-radius: 1em 0 0 1em;
        color: $Black_Coffee;
        font-size: 1.3em;
        &:focus,&:active{
            outline:none;
        }
    }
    &__btn{
        width:10%;
        max-width: 50px;
        height: 50px;
        padding: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .cursor-pointer;
        & > *{
            width: 80%;
            height:80%;
            fill: $Black_Coffee;
        }
        &:hover{
            & > *{
                width: 100%;
                height: 100%;
            }
        }
    }
    &-result__items{
        &__list:not(:last-child){
            border-bottom: 1px solid #696969;
        }
        &__image-wrapper > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}

.menu-list-wrapper{
    @extend .shadow;
    border-radius: 1em !important;
}
.menu-list{
    display: block;
    width: 100%;
    &__item{
        &:nth-child(odd){
            background: $Cultured;
        }
        @extend .cursor-pointer;
        padding:1em;
        list-style: none;
        font-size: 1.2em;
        &>*{
            pointer-events: none;
        }
        &:hover{
            background: $CulturedHovered;
        }
        &__name{
            display: inline-block;
            width:80%;
            text-transform: capitalize;
            text-align: left;
        }
        &__price{
            display: inline-block;
            width: 20%;
            text-align: right;
            color: $Ruby_Red;
            font-weight: 600;
        }
    }
}

.item-details{
    &>.card>div{
        background: $White;
    }
    &::after{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        bottom: -30px;
        left: calc(50% - 20px);
        z-index: 333333;
        border: 20px solid transparent;
        border-top-color: $Black_Coffee;
        pointer-events: none;
    }
}

.contact-form{
    &__label-input{
        font-size: 1.5em;
        &>label{
            position: absolute;
            bottom:57px;
            color: $Space_cadet;
        }
        &>input, &>textarea{
            width: 100%;
            height: 50px;
            border-width: 1px;
            border-color: transparent;
            border-bottom-color: #514c4e40;
            background: transparent;
            &:focus,&:active{
                outline:none;
            }
        }
        &:hover{
            &>label{
                bottom:95px;
            }
        }
        &>label.stick{
            bottom:95px !important;
        }
    }
    & .submitBtn{
        border: none;
        padding:1.2em 1em 1em 1em;
        border-radius: 0.5em;
        font-size: 1.3em;
        color: $Ruby_Red;
        text-transform: uppercase;
        font-weight: 600;
        @extend .gradiant-bg;
        @extend .cursor-pointer;
        @extend .shadow;
        &:hover{
            background: $White;
            box-shadow: 0px 0px 14px -1px #00000085;
        }
    }
}

@media screen and (min-width: 1025px) {
    .nav-item-wrapper{
        max-width: 100px !important;
    }
}

@media screen and (max-width:1024px) {
    .nav-bar > div:first-child img {
        max-width: 200px;
    }
}